<div id="xfContent">
    <div class="experiencefragment">
       <div class="aem-Grid aem-Grid--12 aem-Grid--default--12  ">
          <div class="prodcutcardcomponent aem-GridColumn aem-GridColumn--default--12">
             <div class="container" data-analytics-region="UINF1-NEW">
                <div id="UINF1-NEW" class="product-card clearfix">
                   <div class="product-card-merch-strip col-lg-8 ">
                      <div class="product-card-merch-badge-container">
                         <div class="product-card-merch-badge-voice">
                            Sale 
                         </div>
                      </div>
                      <div class="product-card-merch-badge-text-content">
                         <h4>£0 activation fee + Free BT Sport for 18 months when you add BT TV</h4>
                      </div>
                   </div>
                   <div class="col-sm-6 col-lg-4 product-card-pricing-info display-tablet-lrg">
                      <div class="product-card-pricing-info-header">
                         <div class="product-card-pricing-info-header-content">
                            <div id="main-reward1">
                               <img src="//img01.products.bt.co.uk/content/dam/bt/storefront/icons-logos/mc_vrt_rev@2.png" title="rewards logo" alt="rewards logo">
                               <div class="reward-text reward-text"> £100 BT Reward Card
                                  <a class="product-card-pricing-tooltip" href="javascript:void(0);" data-toggle="popover" data-placement="bottom" data-content="The BT Reward card is preloaded with funds you can spend at most merchants that display the Mastercard®. Only available to new BT customers ordering BT Broadband/BT Superfast Fibre on bt.com. Available with or without TV. Claim once your broadband is up and running. T&amp;Cs apply" data-original-title="" title="">
                                  i
                                  </a>
                               </div>
                            </div>
                           
                         </div>
                      </div>
                      <div class="product-card-pricing-content">
                         <p class="strike-through"> £35.99 </p>
                         <p><span class="s2 bold "> £29</span><span class="s3 bold ">.99</span> a month</p>
                         <p>18 months</p>
                         <p></p>
                         <p>Includes BT line rental</p>
                         <p>Price after 18 months £52.49</p>
                         <div> 
                            <span class="s3 regular"> £9</span><span class="s4 regular">.99</span> P&amp;P
                            <a class="product-card-pricing-content-tooltip" href="javascript:void(0);" data-toggle="popover" data-placement="bottom" data-content="This is the delivery charge for your new kit." data-original-title="" title="">
                            i
                            </a>
                         </div>
                         <button id="cta-button" class="btn primary-purchase hideCTAButton" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/uinf1-new/uinf1-new/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" onclick="passDataToOptionsPage(this,true)">
                         Add and continue</button>
                         <button class="btn primary-purchase" data-toggle="modal" data-target="#myModalSC" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/uinf1-new/uinf1-new/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" cta-url="http://www.productsandservices.bt.com/products/add-bttv/" prod-id="UINF1-NEW" id="pc-service-checker" data-ng-hide="scCtrl.isServiceCheckerDetailsCached() == true" data-ng-click="scCtrl.currentStep = 'step1'" onclick="getOptionsUrlAndProductId(this)">Add and continue</button>
                         <button id="cta-continue" class="btn primary-purchase hideCTAButton" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/uinf1-new/uinf1-new/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" onclick="passDataToOptionsPage(this,true)">Continue</button>
                         <button id="cta-upgrade" class="btn primary-purchase hideCTAButton" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/uinf1-new/uinf1-new/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" onclick="passDataToOptionsPage(this,true) ">Upgrade and continue</button>
                      </div>
                   </div>
                   <!-- /* This code will be used to display prodcut card description */-->
                   <div class="col-sm-6 col-lg-8 product-card-product-info">
                      <div class="col-lg-6 no-padding left-col">
                         <span>
                            <p><span class="font-light"><span class="s2">SUPERFAST FIBRE</span></span></p>
                            <p><span class="s3"><span class="bold">Average speed 50Mb</span></span></p>
                         </span>
                         <img src="//img01.products.bt.co.uk/content/dam/bt/storefront/storefront/2018/august/augsale.png">
                      </div>
                      <div class="col-lg-6 no-padding right-col">
                         <p><span class="s4">Superfast fibre broadband that’s great for streaming and catch-up TV</span></p>
                         <ul style="list-style-position: inside; padding-left: 0px;">
                            <li>Unlimited monthly usage</li>
                            <li>BT Smart Hub – the UK’s most powerful wi-fi vs major broadband providers</li>
                            <li>Free access to over 5 million UK wi-fi hotspots&nbsp;</li>
                            <li>Unlimited UK weekend calls</li>
                         </ul>
                      </div>
                   </div>
                   <div class="col-sm-6 col-lg-4 product-card-pricing-info hide-tablet-lrg">
                      <div class="product-card-pricing-info-header">
                         <div class="product-card-pricing-info-header-content">
                            <div id="main-reward1">
                               <img src="//img01.products.bt.co.uk/content/dam/bt/storefront/icons-logos/mc_vrt_rev@2.png" title="rewards logo" alt="rewards logo">
                               <div class="reward-text reward-text"> £100 BT Reward Card
                                  <a class="product-card-pricing-tooltip" href="javascript:void(0);" data-toggle="popover" data-placement="bottom" data-content="The BT Reward card is preloaded with funds you can spend at most merchants that display the Mastercard®. Only available to new BT customers ordering BT Broadband/BT Superfast Fibre on bt.com. Available with or without TV. Claim once your broadband is up and running. T&amp;Cs apply" data-original-title="" title="">
                                  i
                                  </a>
                               </div>
                            </div>
                           
                         </div>
                      </div>
                      <div class="product-card-pricing-content">
                         <p class="strike-through"> £35.99 </p>
                         <p><span class="s2 bold "> £29</span><span class="s3 bold ">.99</span> a month</p>
                         <p>18 months</p>
                         <p></p>
                         <p>Includes BT line rental</p>
                         <p>Price after 18 months £52.49</p>
                         <div> 
                            <span class="s3 regular"> £9</span><span class="s4 regular">.99</span> P&amp;P
                            <a class="product-card-pricing-content-tooltip" href="javascript:void(0);" data-toggle="popover" data-placement="bottom" data-content="This is the delivery charge for your new kit." data-original-title="" title="">
                            i
                            </a>
                         </div>
                         <button id="cta-button" class="btn primary-purchase hideCTAButton" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/uinf1-new/uinf1-new/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" onclick="passDataToOptionsPage(this,true)">
                         Add and continue</button>
                         <button class="btn primary-purchase" data-toggle="modal" data-target="#myModalSC" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/uinf1-new/uinf1-new/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" cta-url="http://www.productsandservices.bt.com/products/add-bttv/" prod-id="UINF1-NEW" id="pc-service-checker" data-ng-hide="scCtrl.isServiceCheckerDetailsCached() == true" data-ng-click="scCtrl.currentStep = 'step1'" onclick="getOptionsUrlAndProductId(this)">Add and continue</button>
                         <button id="cta-continue" class="btn primary-purchase hideCTAButton" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/uinf1-new/uinf1-new/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" onclick="passDataToOptionsPage(this,true)">Continue</button>
                         <button id="cta-upgrade" class="btn primary-purchase hideCTAButton" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/uinf1-new/uinf1-new/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" onclick="passDataToOptionsPage(this,true) ">Upgrade and continue</button>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="experiencefragment">
       <div class="aem-Grid aem-Grid--12 aem-Grid--default--12  ">
          <div class="columnsplit aem-GridColumn aem-GridColumn--default--12">
             <div class="row  col-split margin-top0-override margin-bottom0-override" data-analytics-region="Columnsplit">
                <div class="none  bg-color   clearfix" data-bg-color="empty">
                   <div class="module-1 clearfix  ">
                      <div class="padding-bottom0-override padding-top0-override">
                         <span class="cell-contents">
                            <div>
                               <div class="text parbase section">
                                  <div class=" none padding-top20-30 padding-left0-override">
                                     <p style="text-align: center;"><span class="s3"><span class="bold"><b>Even more superfast fibre</b><br>
                                        </span></span>
                                     </p>
                                  </div>
                               </div>
                               <div class="divider parbase section">
                                  <div class="full-width-module margin0">
                                     <hr class="divider padding-top30 padding-bottom0">
                                  </div>
                               </div>
                            </div>
                         </span>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="experiencefragment">
       <div class="aem-Grid aem-Grid--12 aem-Grid--default--12  ">
          <div class="prodcutcardcomponent aem-GridColumn aem-GridColumn--default--12">
             <div class="container" data-analytics-region="UINF2-NEW">
                <div id="UINF2-NEW" class="product-card clearfix">
                   <div class="product-card-merch-strip col-lg-8 ">
                      <div class="product-card-merch-badge-container">
                         <div class="product-card-merch-badge-voice">
                            Sale 
                         </div>
                      </div>
                      <div class="product-card-merch-badge-text-content">
                         <h4>£0 activation fee + Free BT Sport for 18 months when you add BT TV</h4>
                      </div>
                   </div>
                   <div class="col-sm-6 col-lg-4 product-card-pricing-info display-tablet-lrg">
                      <div class="product-card-pricing-info-header">
                         <div class="product-card-pricing-info-header-content">
                            <div id="main-reward1">
                               <img src="//img01.products.bt.co.uk/content/dam/bt/storefront/icons-logos/mc_vrt_rev@2.png" title="rewards logo" alt="rewards logo">
                               <div class="reward-text reward-text"> £120 BT Reward Card
                                  <a class="product-card-pricing-tooltip" href="javascript:void(0);" data-toggle="popover" data-placement="bottom" data-content="The BT Reward card is preloaded with funds you can spend at most merchants that display the Mastercard®. Only available to new BT customers ordering BT Broadband/BT Superfast Fibre on bt.com. Available with or without TV. Claim once your broadband is up and running. T&amp;Cs apply" data-original-title="" title="">
                                  i
                                  </a>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="product-card-pricing-content">
                         <p class="strike-through"> £45.99 </p>
                         <p><span class="s2 bold "> £39</span><span class="s3 bold ">.99</span> a month</p>
                         <p>18 months</p>
                         <p></p>
                         <p>Includes BT line rental</p>
                         <p>Price after 18 months £58.99</p>
                         <div> 
                            <span class="s3 regular"> £9</span><span class="s4 regular">.99</span> P&amp;P
                            <a class="product-card-pricing-content-tooltip" href="javascript:void(0);" data-toggle="popover" data-placement="bottom" data-content="This is the delivery charge for your new kit." data-original-title="" title="">
                            i
                            </a>
                         </div>
                         <button id="cta-button" class="btn primary-purchase hideCTAButton" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/uinf2-new/uinf2-new/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" onclick="passDataToOptionsPage(this,true)">
                         Add and continue</button>
                         <button class="btn primary-purchase" data-toggle="modal" data-target="#myModalSC" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/uinf2-new/uinf2-new/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" cta-url="http://www.productsandservices.bt.com/products/add-bttv/" prod-id="UINF2-NEW" id="pc-service-checker" data-ng-hide="scCtrl.isServiceCheckerDetailsCached() == true" data-ng-click="scCtrl.currentStep = 'step1'" onclick="getOptionsUrlAndProductId(this)">Add and continue</button>
                         <button id="cta-continue" class="btn primary-purchase hideCTAButton" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/uinf2-new/uinf2-new/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" onclick="passDataToOptionsPage(this,true)">Continue</button>
                         <button id="cta-upgrade" class="btn primary-purchase hideCTAButton" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/uinf2-new/uinf2-new/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" onclick="passDataToOptionsPage(this,true) ">Upgrade and continue</button>
                      </div>
                   </div>
                   <!-- /* This code will be used to display prodcut card description */-->
                   <div class="col-sm-6 col-lg-8 product-card-product-info">
                      <div class="col-lg-6 no-padding left-col">
                         <span>
                            <p><span class="s2"><span class="font-light">SUPERFAST FIBRE 2</span></span></p>
                            <p><span class="s3"><span class="bold">Average speed 67Mb</span></span></p>
                         </span>
                         <img src="//img01.products.bt.co.uk/content/dam/bt/storefront/storefront/2018/august/augsale.png" alt="Placeholder alt text">
                      </div>
                      <div class="col-lg-6 no-padding right-col">
                         <p><span class="s4">Perfect for streaming, gaming, watching and downloading in HD on multiple devices</span></p>
                         <ul style="list-style-position: inside;">
                            <li>Unlimited monthly usage<br></li>
                            <li>BT Smart Hub – the UK’s most powerful wi-fi vs major broadband providers</li>
                            <li>Free access to over 5 million UK wi-fi hotspots</li>
                            <li>Unlimited weekend calls</li>
                         </ul>
                      </div>
                   </div>
                   <div class="col-sm-6 col-lg-4 product-card-pricing-info hide-tablet-lrg">
                      <div class="product-card-pricing-info-header">
                         <div class="product-card-pricing-info-header-content">
                            <div id="main-reward1">
                               <img src="//img01.products.bt.co.uk/content/dam/bt/storefront/icons-logos/mc_vrt_rev@2.png" title="rewards logo" alt="rewards logo">
                               <div class="reward-text reward-text"> £120 BT Reward Card
                                  <a class="product-card-pricing-tooltip" href="javascript:void(0);" data-toggle="popover" data-placement="bottom" data-content="The BT Reward card is preloaded with funds you can spend at most merchants that display the Mastercard®. Only available to new BT customers ordering BT Broadband/BT Superfast Fibre on bt.com. Available with or without TV. Claim once your broadband is up and running. T&amp;Cs apply" data-original-title="" title="">
                                  i
                                  </a>
                               </div>
                            </div>
                        
                         </div>
                      </div>
                      <div class="product-card-pricing-content">
                         <p class="strike-through"> £45.99 </p>
                         <p><span class="s2 bold "> £39</span><span class="s3 bold ">.99</span> a month</p>
                         <p>18 months</p>
                         <p></p>
                         <p>Includes BT line rental</p>
                         <p>Price after 18 months £58.99</p>
                         <div> 
                            <span class="s3 regular"> £9</span><span class="s4 regular">.99</span> P&amp;P
                            <a class="product-card-pricing-content-tooltip" href="javascript:void(0);" data-toggle="popover" data-placement="bottom" data-content="This is the delivery charge for your new kit." data-original-title="" title="">
                            i
                            </a>
                         </div>
                         <button id="cta-button" class="btn primary-purchase hideCTAButton" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/uinf2-new/uinf2-new/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" onclick="passDataToOptionsPage(this,true)">
                         Add and continue</button>
                         <button class="btn primary-purchase" data-toggle="modal" data-target="#myModalSC" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/uinf2-new/uinf2-new/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" cta-url="http://www.productsandservices.bt.com/products/add-bttv/" prod-id="UINF2-NEW" id="pc-service-checker" data-ng-hide="scCtrl.isServiceCheckerDetailsCached() == true" data-ng-click="scCtrl.currentStep = 'step1'" onclick="getOptionsUrlAndProductId(this)">Add and continue</button>
                         <button id="cta-continue" class="btn primary-purchase hideCTAButton" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/uinf2-new/uinf2-new/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" onclick="passDataToOptionsPage(this,true)">Continue</button>
                         <button id="cta-upgrade" class="btn primary-purchase hideCTAButton" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/uinf2-new/uinf2-new/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" onclick="passDataToOptionsPage(this,true) ">Upgrade and continue</button>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>

    <div class="experiencefragment">
       <div class="aem-Grid aem-Grid--12 aem-Grid--default--12  ">
          <div class="prodcutcardcomponent aem-GridColumn aem-GridColumn--default--12">
             <div class="container" data-analytics-region="SFFP">
                <div id="SFFP" class="product-card clearfix">
                   <div class="product-card-merch-strip col-lg-8 ">
                      <div class="product-card-merch-badge-container">
                         <div>
                         </div>
                      </div>
                      <div class="product-card-merch-badge-text-content">
                         <h4>£0 activation fee</h4>
                      </div>
                   </div>
                   <div class="col-sm-6 col-lg-4 product-card-pricing-info display-tablet-lrg">
                      <div class="product-card-pricing-info-header">
                      </div>
                      <div class="product-card-pricing-content">
                         <p><span class="s2 bold "> £54</span><span class="s3 bold ">.99</span> a month</p>
                         <p>18 months</p>
                         <p></p>
                         <p>Includes BT line rental</p>
                         <p>Price after 18 months £58.99</p>
                         <div> 
                            <span class="s3 regular"> £9</span><span class="s4 regular">.99</span> P&amp;P
                            <a class="product-card-pricing-content-tooltip" href="javascript:void(0);" data-toggle="popover" data-placement="bottom" data-content="This is the delivery charge for your new kit." data-original-title="" title="">
                            i
                            </a>
                         </div>
                         <button id="cta-button" class="btn primary-purchase hideCTAButton" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/SFFP/SFFP/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" onclick="passDataToOptionsPage(this,true)">
                         Add and continue</button>
                         <button class="btn primary-purchase" data-toggle="modal" data-target="#myModalSC" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/SFFP/SFFP/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" cta-url="http://www.productsandservices.bt.com/products/add-bttv/" prod-id="SFFP" id="pc-service-checker" data-ng-hide="scCtrl.isServiceCheckerDetailsCached() == true" data-ng-click="scCtrl.currentStep = 'step1'" onclick="getOptionsUrlAndProductId(this)">Add and continue</button>
                         <button id="cta-continue" class="btn primary-purchase hideCTAButton" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/SFFP/SFFP/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" onclick="passDataToOptionsPage(this,true)">Continue</button>
                         <button id="cta-upgrade" class="btn primary-purchase hideCTAButton" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/SFFP/SFFP/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" onclick="passDataToOptionsPage(this,true) ">Upgrade and continue</button>
                      </div>
                   </div>
                   <!-- /* This code will be used to display prodcut card description */-->
                   <div class="col-sm-6 col-lg-8 product-card-product-info">
                      <div class="col-lg-6 no-padding left-col">
                         <span>
                            <p><span class="s2">SUPERFAST FIBRE PLUS</span></p>
                            <p><span class="s3"><span class="bold">Average speed 67Mb</span></span><br></p>
                         </span>
                         <img src="//img01.products.bt.co.uk/content/dam/bt/storefront/broadband/2018/may/bt_plus_signifier_372x62.png" alt="BT Plus benefits">
                      </div>
                      <div class="col-lg-6 no-padding right-col">
                         <p><span class="s4">Perfect for streaming, gaming, watching and downloading in HD on multiple devices</span></p>
                         <ul style="list-style-position: inside;">
                            <li><span class="bold">Plus benefit:</span> Our Keep Connected Promise, getting you back online quickly if your broadband stops working</li>
                            <li><span class="bold">Plus benefit:</span> Broadband Price Freeze for 18 months</li>
                            <li><span class="bold">Plus benefit:</span> Double data for mobiles on a Plus account</li>
                            <li>Unlimited monthly usage</li>
                         </ul>
                         <p><a class="rte-modal" data-toggle="modal" data-target="#nomobile" modal-width="1200px" href="#">More about BT Plus</a></p>
                      </div>
                   </div>
                   <div class="col-sm-6 col-lg-4 product-card-pricing-info hide-tablet-lrg">
                      <div class="product-card-pricing-info-header">
                      </div>
                      <div class="product-card-pricing-content">
                         <p><span class="s2 bold "> £54</span><span class="s3 bold ">.99</span> a month</p>
                         <p>18 months</p>
                         <p></p>
                         <p>Includes BT line rental</p>
                         <p>Price after 18 months £58.99</p>
                         <div> 
                            <span class="s3 regular"> £9</span><span class="s4 regular">.99</span> P&amp;P
                            <a class="product-card-pricing-content-tooltip" href="javascript:void(0);" data-toggle="popover" data-placement="bottom" data-content="This is the delivery charge for your new kit." data-original-title="" title="">
                            i
                            </a>
                         </div>
                         <button id="cta-button" class="btn primary-purchase hideCTAButton" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/SFFP/SFFP/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" onclick="passDataToOptionsPage(this,true)">
                         Add and continue</button>
                         <button class="btn primary-purchase" data-toggle="modal" data-target="#myModalSC" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/SFFP/SFFP/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" cta-url="http://www.productsandservices.bt.com/products/add-bttv/" prod-id="SFFP" id="pc-service-checker" data-ng-hide="scCtrl.isServiceCheckerDetailsCached() == true" data-ng-click="scCtrl.currentStep = 'step1'" onclick="getOptionsUrlAndProductId(this)">Add and continue</button>
                         <button id="cta-continue" class="btn primary-purchase hideCTAButton" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/SFFP/SFFP/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" onclick="passDataToOptionsPage(this,true)">Continue</button>
                         <button id="cta-upgrade" class="btn primary-purchase hideCTAButton" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/SFFP/SFFP/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" onclick="passDataToOptionsPage(this,true) ">Upgrade and continue</button>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>

    <div class="experiencefragment">
       <div class="aem-Grid aem-Grid--12 aem-Grid--default--12  ">
          <div class="columnsplit aem-GridColumn aem-GridColumn--default--12">
             <div class="row  col-split margin-top0-override margin-bottom0-override" data-analytics-region="Columnsplit">
                <div class="none  bg-color   clearfix" data-bg-color="empty">
                   <div class="module-1 clearfix  ">
                      <div class="padding-bottom0-override padding-top0-override">
                         <span class="cell-contents">
                            <div>
                               <div class="text parbase section">
                                  <div class=" none padding-top20-30 padding-left0-override">
                                     <p style="text-align: center;"><span class="s3"><span class="bold">Standard broadband</span></span></p>
                                  </div>
                               </div>
                               <div class="divider parbase section">
                                  <div class="full-width-module margin0">
                                     <hr class="divider padding-top30 padding-bottom0">
                                  </div>
                               </div>
                            </div>
                         </span>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>

    <div class="experiencefragment">
       <div class="aem-Grid aem-Grid--12 aem-Grid--default--12  ">
          <div class="prodcutcardcomponent aem-GridColumn aem-GridColumn--default--12">
             <div class="container" data-analytics-region="UBB-MOCOY-NEW">
                <div id="UBB-MOCOY-NEW" class="product-card clearfix">
                   <div class="product-card-merch-strip col-lg-8 no-content">
                   </div>
                   <div class="col-sm-6 col-lg-4 product-card-pricing-info display-tablet-lrg">
                      <div class="product-card-pricing-info-header">
                         <div class="product-card-pricing-info-header-content">
                            <div id="main-reward1">
                               <img src="//img01.products.bt.co.uk/content/dam/bt/storefront/icons-logos/mc_vrt_rev@2.png" title="rewards logo" alt="rewards logo">
                               <div class="reward-text reward-text"> £50 BT Reward Card
                                  <a class="product-card-pricing-tooltip" href="javascript:void(0);" data-toggle="popover" data-placement="bottom" data-content="The BT Reward card is preloaded with funds you can spend at most merchants that display the Mastercard®. Only available to new BT customers ordering BT Broadband/BT Superfast Fibre on bt.com. Available with or without TV. Claim once your broadband is up and running. T&amp;Cs apply" data-original-title="" title="">
                                  i
                                  </a>
                               </div>
                            </div>
                            
                         </div>
                      </div>
                      <div class="product-card-pricing-content">
                         <p><span class="s2 bold "> £24</span><span class="s3 bold ">.99</span> a month </p>
                         <p>18 months</p>
                         <p></p>
                         <p>Includes BT line rental</p>
                         <p>Price after 18 months £45.49</p>
                         <div> 
                            <span class="s3 regular"> £19</span><span class="s4 regular">.99</span> upfront 
                            <a class="product-card-pricing-content-tooltip" href="javascript:void(0);" data-toggle="popover" data-placement="bottom" data-content="This includes both the activation fee for your services and the delivery charge for your new kit." data-original-title="" title="">
                            i
                            </a>
                         </div>
                         <button id="cta-button" class="btn primary-purchase hideCTAButton" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/ubb-mocoy-new/ubb-mocoy-new/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" onclick="passDataToOptionsPage(this,true)">
                         Add and continue</button>
                         <button class="btn primary-purchase" data-toggle="modal" data-target="#myModalSC" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/ubb-mocoy-new/ubb-mocoy-new/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" cta-url="http://www.productsandservices.bt.com/products/add-bttv/" prod-id="UBB-MOCOY-NEW" id="pc-service-checker" data-ng-hide="scCtrl.isServiceCheckerDetailsCached() == true" data-ng-click="scCtrl.currentStep = 'step1'" onclick="getOptionsUrlAndProductId(this)">Add and continue</button>
                         <button id="cta-continue" class="btn primary-purchase hideCTAButton" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/ubb-mocoy-new/ubb-mocoy-new/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" onclick="passDataToOptionsPage(this,true)">Continue</button>
                         <button id="cta-upgrade" class="btn primary-purchase hideCTAButton" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/ubb-mocoy-new/ubb-mocoy-new/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" onclick="passDataToOptionsPage(this,true) ">Upgrade and continue</button>
                      </div>
                   </div>
                   <!-- /* This code will be used to display prodcut card description */-->
                   <div class="col-sm-6 col-lg-8 product-card-product-info">
                      <div class="col-lg-6 no-padding left-col">
                         <span>
                            <h2><span class="s2"><span class="font-light">BROADBAND</span></span></h2>
                         </span>
                         <p><span class="s3"><span class="bold">Average speed 10Mb</span></span></p>
                      </div>
                      <div class="col-lg-6 no-padding right-col">
                         <h4><span class="s4">Essential broadband for browsing and emailing</span><br></h4>
                         <ul style="list-style-position: inside;">
                            <li>Unlimited monthly usage</li>
                            <li>BT Home Hub 4</li>
                            <li>Free access to over 5 million UK wi-fi hotspots&nbsp;</li>
                            <li>Unlimited UK weekend calls</li>
                         </ul>
                      </div>
                   </div>
                   <div class="col-sm-6 col-lg-4 product-card-pricing-info hide-tablet-lrg">
                      <div class="product-card-pricing-info-header">
                         <div class="product-card-pricing-info-header-content">
                            <div id="main-reward1">
                               <img src="//img01.products.bt.co.uk/content/dam/bt/storefront/icons-logos/mc_vrt_rev@2.png" title="rewards logo" alt="rewards logo">
                               <div class="reward-text reward-text"> £50 BT Reward Card
                                  <a class="product-card-pricing-tooltip" href="javascript:void(0);" data-toggle="popover" data-placement="bottom" data-content="The BT Reward card is preloaded with funds you can spend at most merchants that display the Mastercard®. Only available to new BT customers ordering BT Broadband/BT Superfast Fibre on bt.com. Available with or without TV. Claim once your broadband is up and running. T&amp;Cs apply" data-original-title="" title="">
                                  i
                                  </a>
                               </div>
                            </div>
                           
                         </div>
                      </div>
                      <div class="product-card-pricing-content">
                         <p><span class="s2 bold "> £24</span><span class="s3 bold ">.99</span> a month </p>
                         <p>18 months</p>
                         <p></p>
                         <p>Includes BT line rental</p>
                         <p>Price after 18 months £45.49</p>
                         <div> 
                            <span class="s3 regular"> £19</span><span class="s4 regular">.99</span> upfront 
                            <a class="product-card-pricing-content-tooltip" href="javascript:void(0);" data-toggle="popover" data-placement="bottom" data-content="This includes both the activation fee for your services and the delivery charge for your new kit." data-original-title="" title="">
                            i
                            </a>
                         </div>
                         <button id="cta-button" class="btn primary-purchase hideCTAButton" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/ubb-mocoy-new/ubb-mocoy-new/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" onclick="passDataToOptionsPage(this,true)">
                         Add and continue</button>
                         <button class="btn primary-purchase" data-toggle="modal" data-target="#myModalSC" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/ubb-mocoy-new/ubb-mocoy-new/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" cta-url="http://www.productsandservices.bt.com/products/add-bttv/" prod-id="UBB-MOCOY-NEW" id="pc-service-checker" data-ng-hide="scCtrl.isServiceCheckerDetailsCached() == true" data-ng-click="scCtrl.currentStep = 'step1'" onclick="getOptionsUrlAndProductId(this)">Add and continue</button>
                         <button id="cta-continue" class="btn primary-purchase hideCTAButton" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/ubb-mocoy-new/ubb-mocoy-new/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" onclick="passDataToOptionsPage(this,true)">Continue</button>
                         <button id="cta-upgrade" class="btn primary-purchase hideCTAButton" resource-path="/content/experience-fragments/bt/storefront/product_cards/broadband/compare/ubb-mocoy-new/ubb-mocoy-new/jcr:content/root/prodcutcardcomponent" options-url="http://www.productsandservices.bt.com/products/add-bttv/" onclick="passDataToOptionsPage(this,true) ">Upgrade and continue</button>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>