        <div class="main-content">
                       
           <div id="homeroutingURXF" class="">
              <div class="">
                 <div class="">
                    <div>
                       <div class="hero-banner height600 bg-image" 
                            data-bg-image-desktop="assets/images/desktop_bg.jpg" 
                            data-bg-image-tablet="assets/images/tablet_bg.jpg" 
                            data-bg-image-mobile="assets/images/mobile_bg.jpg" 
                            style="background-image: url(&quot;assets/images/desktop_bg.jpg&quot;);">
                          <div class="container">
                             <div class="row">
                                <div class="col-sm-6 hero-banner-cta display-tablet-lrg ">
                                   <section>
                                      <div class="opacity-80  cta-content cta-white clearfix">
                                         <h1 class="txtColor">
                                             <span class="txtColor">{{primaryDesc}}<br></span>
                                         </h1>
                                         <p class="txtColor">
                                             <span class="txtColor">{{secondDesc}}&nbsp;<br></span>
                                         </p>
                                         <p class="txtColor">
                                             <span class="txtColor">
                                                 <span class="s4">{{newBt}}</span>
                                            </span>
                                        </p>
                                         <p class="txtColor">
                                             <span class="txtColor">
                                                 Join from 
                                                 <span class="s2">
                                                     <span class="bold">£24.</span>
                                                </span>
                                                <span class="s3">
                                                    <span class="bold">99</span>
                                                </span> 
                                                a month<br>({{month}} month contract, {{upfrontCost}} upfront)
                                            </span>
                                         </p>
                                         <p class="btnTxtColor">
                                             <span class="btnTxtColor">
                                                 <a href="#">
                                                     <span class="btn rte primary-purchase">{{btnText}}</span>
                                                </a>
                                            </span><br>
                                        </p>
                                      </div>
                                   </section>
                                </div>
                             </div>
                          </div>
                       </div>
                       <div class="container hide-tablet-lrg hero-banner-cta-mobile cta-medium-grey">
                          <input type="hidden" value="bt-purple-text" class="herobannerLinkColorMobile">
                          <input type="hidden" class="herobannerCTAColorMobile">
                          <section>
                             <div class="cta-content  clearfix">
                                <h1 class="txtColor">
                                    <span class="txtColor">{{primaryDesc}}<br></span>
                                </h1>
                                <p class="txtColor">
                                    <span class="txtColor">{{secondDesc}}&nbsp;<br></span>
                                </p>
                                <p class="txtColor">
                                    <span class="txtColor">
                                        <span class="s4">{{newBt}}</span>
                                    </span>
                                </p>
                                <p class="txtColor">
                                    <span class="txtColor">
                                        Join from 
                                        <span class="s2">
                                            <span class="bold">£24.</span>
                                        </span>
                                        <span class="s3">
                                            <span class="bold">99</span>
                                        </span> 
                                        a month<br>
                                        ({{month}} month contract, {{upfrontCost}} upfront)
                                    </span>
                                </p>
                                <p class="btnTxtColor">
                                    <span class="btnTxtColor">
                                        <a href="#" class="bt-purple-text">
                                            <span class="btn rte primary-purchase bt-purple-text">{{btnText}}</span>
                                        </a>
                                    </span><br>
                                </p>
                             </div>
                          </section>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>